body {
	background-image: linear-gradient(to right, black 10%, #021335 60%);
	font-family: sans;
	margin: 0;
}

body a {
	color: #1c6c8c;
	text-decoration: none;
}
body a:hover {
	text-decoration: underline;
}

code {
	color: #20d548;
	background-color: #ffffff1a;
	font-family: Mono;
	letter-spacing: 1px;
	padding: 0 5px;
	border-radius: 5px;
	font-size: 12px;
}

.header {
	display: block;
	height: 100px;
	background-image: linear-gradient(to top,#0000,black);
}

.main_frame {
}

.navtoc {
	color: green;
	float: left;
	width: 20%;
	/*! padding: 10px; */
	display: block;
}

.navtoc .blogpost_link {
	color: cadetblue;
	font-size: 9px;
}
.navtoc .blogpost_link a {
	font-size: 13px;
}
.navtoc #homelink {
	font-size: 9px;
	color: yellow;
}
.navtoc #homelink a {
	font-size: 13px;
	color: darksalmon;
}

.maincolumn {
	color: #71beff;
	float:left;
	width: 60%;
	padding: 10px 10%;
	font-size: 14px;
	/*! margin: 5px 120px; */
	/*! background-image: linear-gradient(to right, #080e2f,black); */
	display: block;
}

.maincolumn .hljs {
	display: block;
	overflow-x: auto;
	padding: 1em;
	color: #000;
	background: #d9ecffb3;
}

.maincolumn h1,h2,h3,h4 {
	/*! color: #080e2f; */
	text-shadow: -2px 2px 2px #0039ae;
	margin-left: 20px;
}
img.full {
	display: block;
	margin: 1em auto;
}
img.thumbnail {
	margin: 3px;
	vertical-align: middle;
}