body {
	background-image: linear-gradient(to right, #b5c9d8 2%, #939393 70%);
	font-family: sans;
	margin: 0;
	overflow-y: scroll;
}

body a {
	color: #0b4b93;
	text-decoration: none;
	font-family: monospace;
}
body a:hover {
	text-decoration: underline;
}

code {
	color: #022c0b;
	font-family: Mono;
	letter-spacing: 1px;
	padding: 0 5px;
	border-radius: 5px;
	font-size: 12px;
}

.header {
	display: block;
	height: 105px;
	background-image: radial-gradient(circle at center, #eaff5be6, #0000 25%);
	width: 85%;
	margin: 0 auto;
	text-align: center;
}

.centerhead {
	display: inline-block;
	position: relative;
	text-align: center;
}
.centerhead ul {
	padding: 0;
	margin: 0;
}
.centerhead ul li {
	color: #636363;
	text-shadow: #e1f465 1px 1px;
	list-style: none;
	font-size: 1.5em;
}
.centerhead a {
	color: #636363;
}
.centerhead a:hover {
	color: #386bff;
	text-decoration: none;
}
.lefthead {
	height: 100%;
	line-height: 105px;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(-100%);
	margin-left: -50px;
	width: 20em;
	text-align: right;
}
.lefthead ul li {
	float: right;
	margin-left: 25px;
}
.righthead {
	height: 100%;
	line-height: 105px;
	position: absolute;
	top: 0;
	right: 0;
	transform: translateX(100%);
	margin-right: -50px;
	width: 20em;
	text-align: left;
}
.righthead ul li {
	float: left;
	margin-right: 25px;
}
#lenin {
	/*! margin: 0 auto; */
	display: inline-block;
	position: relative;
}
.main_frame {
	width: 85%;
	margin: 25px auto;
}

.navtoc {
	color: green;
	float: left;
	width: 15%;
	display: block;
}
.navtoc ul {
	padding-left: 1em;
	margin: 0;
}

.navtoc .blogpost_link {
	color: black;
	font-size: 9px;
}
.navtoc .blogpost_link a {
	font-size: 13px;
}
.navtoc #homelink {
	font-size: 9px;
	color: white;
}
.navtoc #homelink a {
	font-size: 13px;
	color: white;
}

.maincolumn {
	float:left;
	width: 85%;
	margin: 0 auto;
	display: block;
	position: relative;
}

.content_c {
	width: 75%;
	margin: 0 auto;
	color: #171717;
	font-size: 14px;
}

.content_c p {
	margin: 2px 2px;
	border-right: #b5c9d8 1px dashed;
	padding: 0px 3px;
}
.content_c ul {
	margin: 2px 2px;
	border-right: #b5c9d8 1px dashed;
	padding-top: 5px;
	padding-bottom: 5px;
}
.content_c ul * {
	border: none;
}
.content_c .hljs {
	display: block;
	overflow-x: auto;
	padding: 1em;
	color: #000;
	background: #c0c0c0;
}
.content_c .hljs-comment, .hljs-quote {
	color: #4c545f;
	font-style: italic;
}

.content_c h1,h2,h3,h4 {
	text-shadow: -1px 3px 1px #0039ae4d;
}
.content_c h1,h2 {
	width: calc(50vw - 15%);
	text-align: center;
}

img.full {
	display: block;
	margin: 1em auto;
	width: 95%;
}
img.thumbnail {
	margin: 3px;
	vertical-align: middle;
}



.header_menu_r {
	color: magenta;
	float: left;
	display: block;
	margin-right: 25px;
}



.teaser {
	max-height: 350px;
	overflow: hidden;
}
.teaser h1 {
	margin-top: 0;
}
.headline_excerpt {
color: #b5c9d8; 
float:right;
font-size: 10px;
padding-right: 25px;
padding-top: 10px;
}
.link_article {
	display: inline-block;
	padding-top: 1em;
}
.link_article a{
	color: #893737;
	text-shadow: 1px 1px #ffa664;
	border-radius: 50px;
	padding: 0 10px;
	font-style: italic;
}	
.link_article a:hover {
	color: #f3ff31;
	text-decoration: none;
}
.sepline {
margin: 30px auto;
box-shadow: 0 0 2px 0 #b5c9d8;
color: #a6ad7a;
}


.article_header {
	color: #727272;
	text-align: right;
	display: block;
	padding-right: 25px;
	background-color: #a7b3bc;
	border-radius: 30px;
}
.article_footer {
	color: #b5c9d8;
	text-align: right;
	display: block;
	padding-right: 25px;
	background-color: #939393;
	border-radius: 30px;
}
